body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url(../src/Images/bg.jpeg); */
  background-color: #f3f1f1;
  background-color: #f8f8f8;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  color: #2b2b2b;
  height: 100vh;
  overflow: hidden
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Navigation Styling*/

.navContainer{
  padding-top: 20px;
 height: 90vh;
 width:5%;
 border-radius: 20px;
 margin: 20px;
 float: left;
 /* background-color: rgba(144, 144, 144, 0.347); */
 /* background-color: #36C9C6; */
 background-color: #9FBFFF;
 background-color: #D69EAF;


 position: fixed;
 box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);


  /* background: #f7f7f7; */
-webkit-box-shadow: 12px 12px 24px #ebebeb, -12px -12px 24px #ffffff;
box-shadow: 12px 12px 24px #ebebeb, -12px -12px 24px #ffffff;
  

}

.navContainer ul{
  padding-top: 170px;
  list-style: none;
  text-align: left;
 
}

.navContainer li{
  padding: 13px 0px;
  margin-left:-12px ;
  color: #FFFFFF;
  
 
}

a{
  text-decoration: none;
  color: #FFFFFF;
}

/*Shows what tab is open*/
.active .icon{
  color:#fafafa;
  background-color: #fef6f840;
  border-radius: 5px;
  padding: 5px;
}



/*Dashboard layout*/
.row1{
  width: 100%;
  height:100px;
  float: left;
  margin-top: 10px;
  border-radius: 20px;
  /* margin: 20px; */
  /* box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
  background-color: #FFFFFF; */
  text-align: left;
  padding: 30px;
  padding-bottom: 50px;
}
.row2{
  width: 110%;
  float: left;
  /* margin: 20px; */
  border-radius: 20px;
  text-align: center;
  /* margin: 20px; */
  display: inline;
  

}
.row3{
  width: 110%;
  float: left;
}




/*calender and appointments*/

.left-panel{
  float: left;
  margin-left: 120px;
  width: 65%;
}
 
/*row one design*/
.row1 h1{
  font-weight: 400;
}
.row1 h2{
  font-weight: 200;
  font-size: 16px;
  margin-top: -20px;
  float: left;
}

.wave-container{
 background-color: #FFE696;
 position: relative;
 z-index: 0;
 width: 40px;
 height:40px;
 border-radius: 60px;
 margin-top: -50px;
  margin-left: 450px;
}
.row2 .wave{
  width: 25px;
  float: left;
  margin-top: 8px;
  margin-left: 6px;

}

.headerimg{
  width:300px;
  margin-top:-75px;
  transform: scaleX(-1);
  margin-left: -50px;
  
}

/*row two design*/
.row2 .block{
  width: 295px;
  height: 80px;
  border-radius: 15px;
  padding: 20px;
  margin: 20px 20px 20px 0px;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
  /* background-color: #FFFFFF; */
  text-align: left;
  float: left;

  background: #f7f7f7;
-webkit-box-shadow: 12px 12px 24px #ebebeb, -12px -12px 24px #ffffff;
box-shadow: 12px 12px 24px #ebebeb, -12px -12px 24px #ffffff;
}

.row2 h1{
  font-weight: 300;
  font-size: 36px;
  text-align: center;
  margin-top: -5px;
  margin-bottom: 10px;
}

.row2 h2{
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-top: 2px;
}

.block hr{
  width: 30px;
  outline: none;
  background-color: #2b2b2b;
  margin: 0 auto;
  padding:0px;
  margin-top: -10px;
}

.block.one{
  /* background-color: rgb(255, 255, 255); */
  width: 654px;
}



/*row three design*/

 /* background-color: #fad2b2; */

.calendar{
  width: 35%;
  height: 300px;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
  border-radius: 15px;
  background-color: #f8f8f8;
  float: left;
  margin: 0px 20px 20px 0px;
 
color: #D69EAF;
font-size: 14px;
text-decoration: none;
font-family: 'Poppins', sans-serif;
-webkit-box-shadow: 12px 12px 24px #ebebeb, -12px -12px 24px #ffffff;
box-shadow: 12px 12px 24px #ebebeb, -12px -12px 24px #ffffff;

}

#calendar-heading{
  color: white;
  background-color: #D69EAF;
  width:87.5%;
  border-radius:20px 20px 0px 0px;
  padding-bottom: 5px;
  height: 25px;
  
 
  
}

.appointments{
  width: 60%;
  height: 300px;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
  border-radius: 15px;
  background-color: #FFFFFF;
  float: left;
  margin: 0px 0px 20px 0px;

  background: #f7f7f7;
-webkit-box-shadow: 12px 12px 24px #ebebeb, -12px -12px 24px #ffffff;
box-shadow: 12px 12px 24px #ebebeb, -12px -12px 24px #ffffff;

}

/*Right panel right-panel*/

.right-panel{
  width: 300px;
  float: left;
  margin-left: 60px;
}
/*Reception profile*/

.profile{
  width: 100%;
  height: 280px;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
  border-radius: 15px;
  background-color: #FFFFFF;
  float: left;
  margin: 20px 20px 20px 20px;
  display: inline;

  background: #f7f7f7;
-webkit-box-shadow: 12px 12px 24px #ebebeb, -12px -12px 24px #ffffff;
box-shadow: 12px 12px 24px #ebebeb, -12px -12px 24px #ffffff;
}

.profileHeading{
  /* background-color: #77C8D6; */
  /* background-color: #467dfc47;
  color: #FFFFFF; */
  border-radius: 10px;
  padding: 16px;
  
  font-weight: 400;
  font-size: 20px;
  /* backdrop-filter: blur(10px); */

}

.block-heading{
  font-weight: 400;
  font-size: 20px;
  border-radius: 10px;
  padding: 16px;
  text-align: left;
  padding-left: 30PX;
  padding-bottom: 0px;


}

.profileImg{

  width:80px;
  height: 80px;
  border-radius: 100px;
  outline: 0;
  border-width: 0px;
  float: left;
  margin-left: 110px;
  margin-top: 20px;
  padding: 5px; overflow:hidden;
  
}

.profile p{
  font-size: 14px;
  font-weight: 300;
}

.reception{
  margin: 0 auto;
  margin-top: 20px;
}
.reception td{
  border-right: solid 1px #2b2b2b; 
  margin-bottom: 0px;
  padding-bottom: 0px;
  width: 80px;
}

.text{
  width: 100%;
 margin-top: 90px;
  text-align: center;
 
}
.text h3{
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
 
}

.profileInfo p{
  margin: 0px;
  padding: 0px;
}

.tasks{
  height:330px;
  width: 100%;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
  border-radius: 15px;
  background-color: #FFFFFF;
  float: left;
  margin: 0px 20px 20px 20px;

  background: #f7f7f7;
-webkit-box-shadow: 12px 12px 24px #ebebeb, -12px -12px 24px #ffffff;
box-shadow: 12px 12px 24px #ebebeb, -12px -12px 24px #ffffff;

}

.tasks h1{
  font-weight: 300;
  font-size: 20px;
  text-align: left;
  margin-top: -5px;
  padding: 20px;
}

/*Make hand emoji wave*/
.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count:infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

/*Search bar*/
.search{
  background-color: #f7f7f7;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.1);
  border-radius: 15px;
  padding:2px;
  float:right;
  width: 255px;
  margin-top: -100px;

  background: #f7f7f7;
-webkit-box-shadow: 12px 12px 24px #ebebeb, -12px -12px 24px #ffffff;
box-shadow: 12px 12px 24px #ebebeb, -12px -12px 24px #ffffff;
}

.search input{
  border:none;
  outline:none;
  background-color: #f7f7f7;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  font-family: 'Epilogue', sans-serif;
  font-size: 16px;
}

.search img{
  width: 20px;
  margin-top: 9px;
}



/*Appointments table*/
.appointments{
  overflow-y: scroll;
}

/*custom scrollbar*/
.appointments::-webkit-scrollbar {
  width: 5px;
  
}

.appointments::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
  
}

.appointments::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(180deg, #D69EAF 0%, #D69EAF 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

.vets-container{
 height:455px;
 width: 100%;
 overflow-y: scroll;
 overflow-x: hidden;
 float:left ;
}

/*custom scrollbar*/
.vets-container::-webkit-scrollbar {
  width: 5px;
  
}
.vets-container::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
  
}

.vets-container::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(180deg, #D69EAF 0%, #D69EAF 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

.task-container{
  height:230px;
  width: 100%;
 overflow-y: scroll;
 overflow-x: hidden;
 float:left ;
}
/*custom scrollbar*/
.task-container::-webkit-scrollbar {
  width: 5px;
  
}
.task-container::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
  
}

.task-container::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(180deg, #D69EAF 0%, #D69EAF 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}
.appointments-table{
  width: 90%;
  margin-left:30px;
  border-collapse:separate;
  border-spacing:0 15px;
  

}

.appointments-table .row-heading th{
  width: 300px;
  font-weight: 400;
  color: #bbbbbb;
  font-size: 14px;
  padding-bottom: 5px;
  /* text-align: left; */
  /* position: sticky;
  top:0;
  background-color: #FFFFFF;
  height:30px; */
}
/* .individual-appointment{
 border-bottom: 1px solid #D69EAF;
 
} */
tr.individual-appointment{
  background-color: #f7f7f7;
  width: 500px;
  border-radius: 20px;
  height:50px;
  margin-top: 100px;
  /* text-align:left ;
  padding-left: 50px; */
  
 }
 .individual-appointment:hover{
  background-color: rgb(240, 240, 240);

  
 }
 .individual-appointment:active{
  background-color: rgb(240, 240, 240);

  
 }

td:first-child,
th:first-child {
  border-radius: 10px 0 0 10px;
}



/*tabel for tasks*/

/*buttons*/

.primary-btn{
  color: #fff;
  background-color: #d69eafc1;
  border: none;
  padding: 10px;
  width: 150px;
  height:40px;
  border-radius: 20px;
  margin-top: 15px;
  /* box-shadow: 0 35px 68px 0 rgba(184, 184, 184, 0.363), inset 0 -8px 16px 0 #D69EAF;   */
}
/*Doctors page*/
.left-list{
  background-color: #ffffff;
  width: 30%;
  height: 90vh;
  margin-left: 120px;
 border-radius: 20px;
 box-shadow:
 0  5px 10px rgba(154,160,185,0.05),
 0 15px 40px rgba(166,173,201,0.1);
 margin-top: 0px;
 float: left;

 background: #f7f7f7;
-webkit-box-shadow: 12px 12px 24px #ebebeb, -12px -12px 24px #ffffff;
box-shadow: 12px 12px 24px #ebebeb, -12px -12px 24px #ffffff;
 
}

.left-list h3{
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 5px;
  text-align: left;
  margin-left: 25px;
  padding-top: 20px;
  margin-top: 0px;
}

/*Doctors search*/
.search.vet{
  margin-top: 0px;
  float: left;
  margin-left: 20px;
  background-color: #f1f1f1;


}
.search.vet input{

  background-color: #f1f1f1;


}
small{
  text-align: left;
  float: left;
  margin-left: 25px;
  margin-top: 5px;
  color: #bbbbbb;
  width: 100%;
}

.order{
  float: left;
  display: block;
  background-color: #D69EAF;
  padding: 0px;
  border-radius: 15px;
  width: 60px;
  height:25px;
  color: #e7d0d7;
  margin-left: 20px;
  margin-top: 5px;
  font-size: 12px;
}
.down-arrow{
  width: 10px;
  float: left;
  margin-top: 0px;
  margin-left: 3px;
}
.order-text{
  margin-top: 3px;
}

.individual-vet{
  width: 95%;
  background-color: rgb(240, 240, 240);
  float: left;
  border-radius: 20px;
  margin: 10px;
  margin-left: 8px;
  margin-bottom: 0px;
  height: 100px;
  outline: none;
  border: none;
  font-family: poppins;

  
}
.vet-block-text{
  padding: 20px;
  float: left;
  width: 200px;
}

.vet-block-text h2{
  font-weight: 400;
  font-size: 20px;
  width: 100%;
  float: left;
  text-align: left;
  margin: 0px;

}
.vet-block-text h4{
  font-weight: 400;
  font-size: 14px;
  width: 300px;
  float: left;
  text-align: left;
  margin-top: 0px;
  color: #bbbbbb;

}
.profileImg.vet{

  width:60px;
  height: 60px;
  border-radius: 100px;
  outline: 0;
  border-width: 0px;
  float: left;
  margin-left: 15px;
  margin-top: 10px;
  padding: 5px; overflow:hidden;
  
}

.bottom-dog{
  width: 250px;
  margin-top: -250px;
  margin-left: 430px;
}

.middle-pannel{
  float: left;
  height: 90vh;
  width: 35%;
  border-radius: 20px;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.1);
  background-color: #FFFFFF;
  margin-left: 20px;

  background: #f7f7f7;
-webkit-box-shadow: 12px 12px 24px #ebebeb, -12px -12px 24px #ffffff;
box-shadow: 12px 12px 24px #ebebeb, -12px -12px 24px #ffffff;
}

.right-pannel-client{
  float: left;
  height: 62vh;
  width: 22%;
  border-radius: 20px;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.1);
  background-color: #FFFFFF;
  margin-left: 20px;

  background: #f7f7f7;
-webkit-box-shadow: 12px 12px 24px #ebebeb, -12px -12px 24px #ffffff;
box-shadow: 12px 12px 24px #ebebeb, -12px -12px 24px #ffffff;
  
}

.middle-pannel-client{
  float: left;
  height: 90vh;
  width: 36%;
  border-radius: 20px;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.1);
  background-color: #FFFFFF;
  margin-left: 20px;

  background: #f7f7f7;
-webkit-box-shadow: 12px 12px 24px #ebebeb, -12px -12px 24px #ffffff;
box-shadow: 12px 12px 24px #ebebeb, -12px -12px 24px #ffffff;
}

.right-pannel{
  float: left;
  height: 40vh;
  width: 23%;
  border-radius: 20px;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.1);
  background-color: #FFFFFF;
  margin-left: 20px;

  background: #f7f7f7;
-webkit-box-shadow: 12px 12px 24px #ebebeb, -12px -12px 24px #ffffff;
box-shadow: 12px 12px 24px #ebebeb, -12px -12px 24px #ffffff;

}

.vet-block-img.main{
  width:150px;
  height: 150px;
  border-radius: 200px;
  outline: 0;
  border-width: 0px;
  float: left;
  margin-left: 30px;
  margin-top: 20px;
  padding: 5px; overflow:hidden;

}
.client-block-img.main {
  width:100px;
  height: 100px;
  border-radius: 200px;
  outline: 0;
  border-width: 0px;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  padding: 5px; overflow:hidden;

}
.family{
  width: 270px;
  margin-left: 30px;
  margin-top: 30px;
}

.book-container{
  /* background-color: rgb(255, 255, 255); */
  width: 87%;
  margin-left: 12px;
  height:200px;
  border-radius: 20px; 
  padding: 10px;
  z-index: 1;
}
.booking-input{
  background-color: #e2e2e296;
  color: #2b2b2b;
  border: none;
  padding:8px;
  width: 41%;
  float: left;
  border-radius: 10px;
  margin: 5px;
}
.book-container button{
  margin-left: 10px;
}

.book-option h3{
  font-weight: 400;
  text-align: left;
  margin-top: 25px;
  margin-left: 30px;
  margin-bottom: 0px;
  font-size: 16px;
}

.vet-maintext, .client-maintext{
  float:left;
  margin-left: 30px;
  margin-top: 40px;
  text-align: left;
}

.client-maintext.two{
  float:left;
  width: 100%;
  margin-left: 30px;
  margin-top: 0px;
  text-align: left;
  padding: 0;
}
.client-maintext.one{
  margin-left: 10px;
}
.vet-maintext h1, .client-maintext h1{
  font-weight: 400;
  font-size: 20px;
  margin-bottom: -15px;
}

.client-maintext.one h1 {
  font-weight: 400;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: -15px;
}

.client-maintext.two h1 {
 
  margin-top: -40px;

 
}

.vet-maintext h3, .client-maintext h3{
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 10px;
  color: rgb(213, 213, 213);
}

.client-maintext h3{
  font-weight: 400;
  font-size: 14px;
  margin-bottom: -5px;
  color: rgb(213, 213, 213);
}

.special{
  background-color: #f2e5e9;
  color: #D69EAF;
  border-radius: 15px;
  padding: 5px;
  width: 65px;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
}

.edit-icon{
  color: #D69EAF;
  float: right;
  margin: 30px;
  cursor: pointer;
}

.edit-icon.client{
  color: #D69EAF;

  float: right;
  margin-top: 30px;
  margin-right: 30px;
  cursor: pointer;
  padding: 0px;
}

button{
  cursor: pointer;
}

.vet-info, .client-info{
  float: left;
  width: 100%;
}

.client-info.two .appointments-holder{
  float: left;
  margin-top: 35px;
  width: 100%;
  height: 270px;
  overflow-y: scroll;
}

/*custom scrollbar*/
.appointments-holder::-webkit-scrollbar {
  width: 5px;
  
}

.appointments-holder::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
  
}

.appointments-holder::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(180deg, #D69EAF 0%, #D69EAF 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}


.vet-info h2{
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  margin-left: 30px;
}
.client-info h2{
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  margin-left: 30px;
  margin-top: -5px;
}

.start-heading{
  margin-top: 30px;
}

.general-info{
  margin: 30px;
  text-align: left;
  width: 90%;
  border-collapse: separate;
  border-spacing: 0 0px;
  margin-top: 40px;
  padding-bottom: 15px;
  
}
.general-info.two{

  padding-bottom: 0px;
  
}


.general-info th{
  width: 60%;
  padding-left: 0px;
  font-weight: 500;
  font-size: 14px;
 

}

/* .general-info tr:nth-child(even) {background: rgb(241, 241, 241)} */

.general-info td{
  font-weight: 300;
  text-align: right;
  padding-right: 20px;
  font-size: 14px;
}

.vet-info.two h2, .client-info.two h2{
  margin-top: -10px;
  margin-bottom: -35px
}
.client-info.two h2{
  margin-top: -10px;
  margin-bottom: -35px
}
.vet-info h2, .client-info h2{
  margin-bottom: -35px;
  color:#D69EAF ;
 
}
.client-info h2{
  margin-bottom: -35px;
  color:#D69EAF ;
  margin-top: 15px;
 
}

.devider-line{
  width: 90%;
  outline: none;
  border: 0.5px solid #e0e0e0;
  background-color: #bbbbbb;
  margin-bottom: 30px;

}

.client-info .devider-line{
  width: 90%;
  outline: none;
  border: 0.5px solid #e0e0e0;
  background-color: #bbbbbb;
  margin-bottom: 30px;

}

.general-info.first{
  margin-bottom: 10px;

}

.vet-info h4, .client-info h4{
  font-size: 12px;
  text-align: left;
  margin-left:30px;
  margin-top:30px;
  color: #bbbbbb;
  font-weight: 400;
  margin-bottom: -30px;
}

.primary-btn.vet{
  margin-top: -30px;
}

/*Clients page*/
.clients-container{
  height:455px;
  overflow-y: scroll;
  overflow-x: hidden;
  float:left ;
  width: 100%;
 }
 
 /*custom scrollbar*/
 .clients-container::-webkit-scrollbar {
   width: 5px;
   
 }
 .clients-container::-webkit-scrollbar-track {
   background-color: #e4e4e4;
   border-radius: 100px;
   
 }
 
 .clients-container::-webkit-scrollbar-thumb {
   border-radius: 100px;
   background-image: linear-gradient(180deg, #D69EAF 0%, #D69EAF 99%);
   box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
 }

 .individual-client{
  width: 95%;
  background-color: rgb(240, 240, 240);
  float: left;
  border-radius: 20px;
  margin: 10px;
  margin-left: 8px;
  margin-bottom: 0px;
  height: 100px;
}
.client-block-text{
  padding: 20px;
  float: left;
  width: 180px;
}

.client-block-text h2{
  font-weight: 400;
  font-size: 20px;
  width: 100%;
  float: left;
  text-align: left;
  margin: 0px;

}
.client-block-text h4{
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  float: left;
  text-align: left;
  margin-top: 0px;
  color: #bbbbbb;

}
.profileImg.client{

  width:60px;
  height: 60px;
  border-radius: 100px;
  outline: 0;
  border-width: 0px;
  float: left;
  margin-left: 15px;
  margin-top: 10px;
  padding: 5px; overflow:hidden;
  
}

.dog{
  width: 250px;
  margin-left: 80px;
  margin-bottom: -15px;
  margin-top: 10px;
}

.owner-name{
  padding-top: -80px;
}

/*Login Page*/
.left-login{
  width: 40%;
  height: 80vh;
  border-radius: 15px;
  padding: 20px;
  margin: 30px;
  margin-left: 170px;
  margin-top: 50px;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
  background-color: #FFFFFF;
  text-align: left;
  float: left;

  background: #d69eaf;
-webkit-box-shadow: 12px 12px 24px #cb96a6, -12px -12px 24px #e1a6b8;
box-shadow: 12px 12px 24px #cb96a6, -12px -12px 24px #e1a6b8;
}


.right-login{
  width: 40%;
  float: left;
}
.right-login h1{
  margin-top: 130px;
  margin-bottom: 0px;
  float: left;
  margin-left: 5px;
}
.login-two{
  color: #ba7d90;
  width: 300px;
  margin:0;
  padding: 0;
  margin-left: 160px;
  text-align: left;
  margin-top: 178px;
}
.login-img{
  width: 65%;
  margin-top: -50px;
  margin-left: 350px;
}

.login-page{
  background-color: #D69EAF;
  width: 100%;
  height:100vh;
  color: #2b2b2b;
}

.login-heading{
  color: #ba7d90;
}

label{
  float: left;
  width: 100%;
}

.left-login h1{
  text-align: center;
  
}
.left-login h2{
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  margin-top: -20px;
  float: left;
}

form{
  width: 60%;
  margin: 0 auto;
  margin-top: 30px;
  color: #2b2b2b;

}

.left-login input{
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  background-color: #e4e4e4;
  border: none;
  border-radius: 10px;

}
.left-login button{
  width: 110%;
  border-radius: 10px;
  height: 50px;
}

.primary-btn.create{
  color:#D69EAF;
  background-color: #eeeeee;
  border: 1px solid #D69EAF;
  margin-top: -5px;
}

.left-login h3{
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  margin-top: 30px;
}

/*Register*/

.left-register{
  width: 40%;
  height: 88vh;
  border-radius: 15px;
  padding: 20px;
  margin: 30px;
  margin-left: 170px;
  margin-top: 20px;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
  background-color: #FFFFFF;
  text-align: left;
  float: left;

  background: #d69eaf;
  -webkit-box-shadow: 12px 12px 24px #cb96a6, -12px -12px 24px #e1a6b8;
  box-shadow: 12px 12px 24px #cb96a6, -12px -12px 24px #e1a6b8;

}
.bg-salmon {
  background: #cb96a641;
  
}
.bg-salmon h4 {
  color: #989898;
  
}

.left-register input, .left-register select{
  width: 41%;
  padding: 15px;
  margin: 10px 0;
  background-color: #e4e4e4;
  border: none;
  border-radius: 10px;
  margin-right: 10px;

}
.left-register select{
  width: 47%;
}
.left-register button{
  width: 96%;
  border-radius: 10px;
  height: 50px;
}

.left-register h3{
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  margin-top: 20px;
}

.left-register h1{
  text-align: center;
  margin-top: 29px;
  
}
.left-register h2{
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  margin-top: -20px;
  margin-bottom: 5px;
}

.left-register form{
  width: 80%;
  margin-top: -23px;
}

.left-register [type="password"]{
  width: 90%;
}

.message {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  /* background-color: salmon; */
  margin-bottom: 20px;
   color: #b55151;
   float: left;
}

.alertMiniModal{
  
  width: 200px;
  text-align: center;
  position: absolute;
  margin-top: 58px;
}

.alertMiniModal-form{
  
  width: 200px;
  text-align: center;
  position: absolute;
  margin-top: 175px;
  margin-left: 10px;
  height: 18px;
  padding: 0px;

  background: rgba(241, 218, 226, 0.4);

}


.alertMiniModalRight, .alertMiniModalRight-form {
  width: 250px;
  margin-top: -10px;
  text-align: center;
  margin-left: 240px;
  position: absolute;
 
}



.alertMiniModal small,.alertMiniModalRight small, .alertMiniModal-form small,.alertMiniModalRight-form small {
  margin: 0;
  padding: 0;
  color: #a85f5f;
  font-size: 12px;
  margin-left: 25px;
  margin-top: -25px;
}

/* .alertMiniModalRight p{
  margin: 0;
  padding: 0;
}

.alertMiniModal img{
  width: 10px;
  position: absolute;
  right: -8px;
  top: 2px;
  width: 9px;
  position: absolute;
  right: -8px;
  top: 5px;
}

.alertMiniModalRight img{
  width: 10px;
  position: absolute;
  right: -8px;
  top: 2px;
  width: 9px;
  position: absolute;
  right: -8px;
  top: 5px;
}

.alertMiniModalRight img{
  width: 10px;
  position: absolute;
  left: -8px;
  top: 2px;
  width: 9px;
  position: absolute;
  right: -8px;
  top: 5px;
  transform: rotate(180deg);
} */

.statusIcon{
  width: 28px;
  height: 28px;
  position: absolute;
  right: 30px;
  margin-top: 6px;
  border-radius: 5px;
}

.statusIconUser{
  width: 28px;
  height: 28px;
  position: absolute;
  margin-top: 5px;
  margin-left: 38%;
  border-radius: 5px;
}

.errorImg{
  width: 2px;
float: left;
color: #b55151;
margin-top: 1.5px;
}

.login-link p{
  color: #e5e5e5;
  margin: 0 auto;
  text-align: center;
  font-size: 13px;
  margin-top: -18px;
}

.logo-img{
  float: left;
  margin-top: 130px;
  margin-left: 160px;
  width: 40px;
}

.imageArea{
  width: 100%;
}

.imageArea p{
  font-size: 12px;
  margin-bottom: 3px;
  padding: 0;
}

.imageArea input{
  margin-top: 0;
  width: 90%;
}


/*Neomorphism button effect*/
#btn {
 
  text-align: center;
  outline: none;
  cursor: pointer;
  transition: .2s ease-in-out;
  box-shadow: -6px -6px 14px rgba(255, 255, 255, .6),
              -6px -6px 10px rgba(255, 255, 255, .5),
              6px 6px 8px rgba(255, 255, 255, .075),
              6px 6px 10px rgba(0, 0, 0, .08);
}
#btn:hover {
  box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
              -2px -2px 4px rgba(255, 255, 255, .4),
              2px 2px 2px rgba(255, 255, 255, .05),
              2px 2px 4px rgba(0, 0, 0, .1);
}
#btn:active {
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
              inset -2px -2px 4px rgba(255, 255, 255, .5),
              inset 2px 2px 2px rgba(255, 255, 255, .075),
              inset 2px 2px 4px rgba(0, 0, 0, .15);
}

/*Neomorphism button effect*/
.primary-btn.login{
  background-color: #daa6b5;
}
.primary-btn.login{
 
  text-align: center;
  outline: none;
  cursor: pointer;
  transition: .2s ease-in-out;
  box-shadow: -6px -6px 14px rgba(214, 158, 175, .7),
              -6px -6px 10px rgba(214, 158, 175, .5),
              6px 6px 8px rgba(214, 158, 175, .075),
              6px 6px 10px rgba(0, 0, 0, .08);
}
.primary-btn.login:hover{
  box-shadow: -2px -2px 6px rgba(214, 158, 175, .6),
              -2px -2px 4px rgba(214, 158, 175, .4),
              2px 2px 2px rgba(214, 158, 175, .05),
              2px 2px 4px rgba(0, 0, 0, .1);
}
.primary-btn.login:active{
  box-shadow: inset -2px -2px 6px rgba(214, 158, 175, .7),
              inset -2px -2px 4px rgba(214, 158, 175, .5),
              inset 2px 2px 2px rgba(214, 158, 175, .075),
              inset 2px 2px 4px rgba(0, 0, 0, .15);
}

.primary-btn.create{
 
  text-align: center;
  outline: none;
  cursor: pointer;
  transition: .2s ease-in-out;
  box-shadow: -6px -6px 14px rgba(214, 158, 175, .7),
              -6px -6px 10px rgba(214, 158, 175, .5),
              6px 6px 8px rgba(214, 158, 175, .075),
              6px 6px 10px rgba(0, 0, 0, .08);
}
.primary-btn.create:hover{
  box-shadow: -2px -2px 6px rgba(214, 158, 175, .6),
              -2px -2px 4px rgba(214, 158, 175, .4),
              2px 2px 2px rgba(214, 158, 175, .05),
              2px 2px 4px rgba(0, 0, 0, .1);
}
.primary-btn.create:active{
  box-shadow: inset -2px -2px 6px rgba(214, 158, 175, .7),
              inset -2px -2px 4px rgba(214, 158, 175, .5),
              inset 2px 2px 2px rgba(214, 158, 175, .075),
              inset 2px 2px 4px rgba(0, 0, 0, .15);
}

.react-calendar{
  border: 0;
  outline: none
}

.addBtn{
  color: #D69EAF;
  background-color: #f5f5f5;
  position: sticky;
  margin-top: -50px;
  margin-left: 430px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 5px;
  height: 30px;
  width: 30px;
  text-align: center;
}

.addBtn.tasks{

  margin-top: -60px;
  margin-left: 240px;
 
}



/*Tasks*/
.individual-task{
  width:85%;
  background-color: #f2f2f2;
  padding: 0px;
  margin-left: 20px;
  border-left:4px solid #D69EAF;
  margin-bottom: 0px;
}
.individual-task h5{
 font-weight: 400;
  padding: 5px;
  padding-bottom: 0;
  text-align: left;
  margin-left: 5px;
  margin-bottom: 0;
  margin-top: 12px;

}
.individual-task p{
 font-weight: 300;
  font-size: 12px;
  text-align: left;
  margin-left: 10px;
  margin-top: 0px;
  padding-bottom: 1px;
  color: rgb(169, 169, 169);
  margin-bottom: 0;
  

}

/*navigation*/
.icon{
  background-color: #D69EAF;
  border: 0;
  color: white;
  margin-left: -8px;
}


/*Appointments form*/

.appointments-form{
  position: absolute;
  z-index: 2;
  background-color: #fafafa;
  height: 350px;
  width: 450px;
  margin-top: 150px;
  margin-left: 480px;
  border-radius: 30px;
  box-shadow: -6px -6px 14px rgba(255, 255, 255, .6),
              -6px -6px 10px rgba(255, 255, 255, .5),
              6px 6px 8px rgba(255, 255, 255, .075),
              6px 6px 10px rgba(0, 0, 0, .08);

  /* visibility: hidden; */
  
}


.appointments-form form{
  padding: 0px;

}

.appointments-form .heading h1{
  color: #2b2b2b;
  font-weight: 400;
  font-size: 26px;
  text-align: center;
 

}
.appointments-form h3{
  color: #D69EAF;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  margin-top: -15px;

}
/*book appointment*/

.new-book-container.home{
  padding: 10px;
 
}
.booking-input.home{
  float: left;

}

#homeForm{
  padding: 10px;
  width: 400px;
  margin-left: 20px;
  margin-top: 5px;
}

#homeForm .primary-btn{
  margin-top: 150px;
  margin-left: -360px;
}

.closeBtn{
  color: #D69EAF;
  background-color: #f5f5f5;
position: absolute;
margin-top: 15px;
  
  margin-left: 150px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 5px;
  height: 30px;
  width: 30px;

}

/*greeting*/
.greeting2{
  margin-top: -125px;
  margin-left: 50px;
}

#greeting-head-2{
  font-size: 24px;
}

#greeting-msg-2{
  font-size: 16px;
  margin-left: 40px;
  margin-top: -10px;
  font-weight: 200;
}

.addBtn.two{
  margin-top:30px;
  margin-left: 160px;
  position: absolute;

}

/*Add doc form*/

.add-doctor{
  background-color: #fafafa;
  width: 500px;
  height:550px;

  margin-top: 55px;
  margin-left: 400px;
  z-index: 3;
  position: absolute;

  box-shadow: -6px -6px 14px rgba(255, 255, 255, .6),
  -6px -6px 10px rgba(255, 255, 255, .5),
  6px 6px 8px rgba(255, 255, 255, .075),
  6px 6px 10px rgba(0, 0, 0, .08);


}

#doctorForm{
  margin: 15px;
  margin-left: 70px;
  width: 90%;
}

.booking-input.doc{
  width: 152px;
  float: left;margin-bottom: 10px;
  
 

}

.booking-input.doc.full{
  width: 330px;
}

.booking-input.doc.gen{
  width: 165px;
}


.new-doc-container{
  width: 90%;
}

.heading.doc h1{
  margin-left: -90px;
  margin-top: 30px;
  color: #2b2b2b;
  font-weight: 400;
  font-size: 26px;
  text-align: center;
  margin-bottom: 25px;

}

.heading.doc h3{
  margin-left: 60px;
  color: #D69EAF;
  margin-bottom: 30px;
}

.primary-btn.addVet{
  margin-top: 22px;
  margin-left: -50px;

}

/*Add task*/

.task-form-container{
  background-color: #fafafa;
  width: 500px;
  height:430px;
  margin-top: 150px;
  margin-left: 500px;
  z-index: 3;
  position: absolute;
  border-radius: 30px;

  box-shadow: -6px -6px 14px rgba(255, 255, 255, .6),
  -6px -6px 10px rgba(255, 255, 255, .5),
  6px 6px 8px rgba(255, 255, 255, .075),
  6px 6px 10px rgba(0, 0, 0, .08);

}

#addTask{
  width: 75%;
}

.heading.doc h1{
  margin-left: -90px;
  margin-top: 30px;

}

.heading.doc h3{
 margin-left: 60px;
  margin-top: -40px;
  color: #D69EAF;
  margin-bottom: 20px;
}

.task-form-container input{

    background-color: #e2e2e296;
    color: #2b2b2b;
    border: none;
    padding:8px;
    width: 100%;
    float: left;
    border-radius: 10px;
    margin: 5px;
  
}
.task-form-container textarea{

  background-color: #e2e2e296;
  color: #2b2b2b;
  border: none;
  padding:8px;
  width: 100%;
  height: 100px;
  float: left;
  border-radius: 10px;
  margin: 5px;
  font-family: poppins;

}
.task-form-container label{
  text-align: left;
  font-size: 14px;
  margin-top: 10px;
}

.task-form-container .heading h1{
  color: #2b2b2b;
  font-weight: 400;
  font-size: 26px;
  text-align: center;
 

}
.task-form-container h3{
  color: #D69EAF;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  margin-top: -15px;

}

.task-form-container .primary-btn{
  margin-top: 20px;
}

.labelOne{
  margin-top: -20px;
}

/*Add client form*/

#add-client-form{

  background-color: #fafafa;
  width: 720px;
  height:480px;
  margin-top: 80px;
  margin-left: 420px;
  z-index: 3;
  position: absolute;
  border-radius: 30px;
  padding: 20px;

  box-shadow: -6px -6px 14px rgba(255, 255, 255, .6),
  -6px -6px 10px rgba(255, 255, 255, .5),
  6px 6px 8px rgba(255, 255, 255, .075),
  6px 6px 10px rgba(0, 0, 0, .08);


}
#add-client-form h1{
  color: #2b2b2b;
  font-weight: 400;
  font-size: 26px;
  text-align: center;
}
#add-client-form .subheading{
  color: #D69EAF;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  margin-top: -15px;
  margin-bottom: 40px;
}

.owner-info-form .input-holder.owner{
  width: 40%;
  float: left;
  margin-right: 80px;


}
.owner-info-form h3, .pet-info-form h3{
 
  text-align: left;
  color: #D69EAF;
  font-weight: 300;
  font-size: 16px;
  text-align: left;
  margin-top: -15px;
  margin-left: 10px;
  margin-bottom: 5px;
}
.pet-info-form{
  width: 40%;
  float: left;
  margin-top: -15px;

}

.primary-btn.addClient{

  margin-top: 295px;
  margin-left: -670px;

}

.booking-input.doc.half{
  width: 70px;

}

.booking-input.doc.gen{
  width: 180px;
  float: left;

}

.closeBtn.addClient{
  margin-left: 300px;

}

